	<!--mine head-->
	<div class="head"> 
		<a href="" class="main_info felex">
			<img src="images/main.png">
			<div> 
				<span class="user_name">100100100</span>
				<span class="user_level">注册会员</span>
			</div>
			<img src="images/more.png"/>
		</a>
		<div class="mine_menu">
			<a href="">
				<img src="images/goods-collection.png"/>&nbsp;商品收藏
			</a>
			<a href="">
				<img src="images/shop-collection.png"/>&nbsp;店铺收藏
			</a>
		</div>
	</div>
	<!--end mine_head-->
	<!--我的订单-->
		<a href="#/myorder" class="my_order bgcolor">
		我的订单<span>查看全部订单></span>
		</a>
	<!--end 我的订单-->
	<!--my-operation-->
	<div class="my-operation felex bgcolor">
		<a href="" class="my-ope-pay feled ">
			<img src="images/my-ope1.png"/>
			<p>待付款</p>
		</a>
		<a href="" class="my-ope-rec feled">
			<img src="images/my-ope2.png"/>
			<p>待收货</p>
		</a>
		<a href="" class="my-ope-com feled ">
			<img src="images/my-ope3.png"/>
			<p>待评价</p>
		</a>
		<a href="" class="my-ope-ret feled">
			<img src="images/my-ope4.png"/>
			<p>退款/售后</p>
		</a>
	</div>
	<!--my-operation-->
	<div class="my-function bgcolor">
		<div>
			<a href="#/intshop" class="feled">
				<img src="images/my-function1.png"/>
				<p>积分商城</p>
			</a>
			<a href="" class="feled">
				<img src="images/my-function2.png"/>
				<p>优惠卷</p>
			</a>
			<a href="" class="feled">
				<img src="images/my-function3.png"/>
				<p>收货地址</p>
			</a>
		</div>
		<div>
			<a href="" class="feled">
				<img src="images/my-function4.png"/>
				<p>客服/反馈</p>
			</a>
			<a href="" class="feled">
				<img src="images/my-function5.png"/>
				<p>关于我们</p>
			</a>
			<a href="" class="feled">
				<img src="images/my-function6.png"/>
				<p>分享给朋友</p>
			</a>
		</div>
		
	</div>
	<!--my-function-->
	<div class="step-back bgcolor">
		退出当前账号
	</div>
	