<div ng-controller="superCtrl">
	<header class="felex">
				<a></a>
				<b>济远路附近▼</b>
				<a href="#"  class="feled">
					<img src="images/index_search.png"/>
					<p>搜索</p>
				</a>
		</header>
	<ul class="left">
		<li ng-repeat="sort in sortData">
			<a href="" ng-click="dataclick($index)" ng-class="border($index)">{{sort}}</a>
		</li>
	</ul>
	<div class="right">
		<div class="commodity bgcolor" ng-repeat="shop in supermarketdata">
			<img src={{shop.img}}/>
			<div class="good commodity-good">
				<h4>{{shop.name}}</h4>
	 	 	 	<p class="good-p1"><b>精选</b><span>{{shop.pm_desc}}</span></p>
				<p class="specifics">{{shop.specifics}}</p>
				<p class="price"><span>￥{{shop.price}}</span>
			<s>￥{{shop.market_price}}</s>
		</p>
			</div>
			<div class="btn">
				<p class="btns">
			<button ng-click="removecart(shop)" ng-show="counts(shop.id)"> - </button>
			<span ng-show="counts(shop.id)">{{counts(shop.id)}}</span>
		<button ng-click="addcart(shop)">+</button>
	 	 	 </div>
		 </div>
			</div>
		</div>
	</div>
</div>